.jfx-list-view {
    -fx-background-insets: 0;
    -fx-vertical-gap: 10px;
}

.jfx-list-cell:hover {
    -fx-background-color: #5C6BC0;
}

.jfx-list-cell:selected {
    -fx-background-color: #7986CB;
}

.jfx-list-view {
    -fx-background-color: #F4F4F4;
}

.jfx-snackbar-content {
    -fx-background-color: white;
}

.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-button-type: RAISED;
}

.root {
    -fx-font-family: "Roboto Light";
}