.jfx-list-view {
    -fx-background-insets: 0;
    -fx-vertical-gap: 10px;
}

.jfx-list-cell:hover {
    -fx-background-color: #1bd79c;
}

.jfx-list-cell:selected {
    -fx-background-color: lightgreen;
}

.jfx-list-view {
    -fx-background-color: #F4F4F4;
}

.jfx-snackbar-content {
    -fx-background-color: white;
}

.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    /*-fx-button-type: RAISED;*/
}

.root {
    -fx-font-family: "Roboto Light";
}

.jfx-snackbar-content .jfx-button {
    -fx-button-type: FLAT;
}