/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.list-edit-Button, .list-remove-Button {
    margin: 10px;
    padding: 10px;
    border: none;
}

.list-edit-Button {
    background-color: #2196F3 !important;
}
.list-remove-Button {
    background-color: #EC407A !important;
}

.color-Label {
    padding:10px;
}